In [38]:
import pandas as pd
import numpy as np
from datetime import datetime
import itertools

# JSON API
import requests
import json

# data visualization
import matplotlib
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [39]:
def get_response(url):
    return requests.get(url)

In [43]:
url = 'https://python.zach.lol/api/v1/'

In [44]:
get_response(url)

In [50]:
resources = ['items', 'stores', 'sales']

In [90]:
df = pd.DataFrame()

In [129]:
response0 = requests.get(url + resources[0])
response1 = requests.get(url + resources[1])
response2 = requests.get(url + resources[2])

data0 = response0.json()
data1 = response1.json()
data2 = response2.json()

for i in (data0, data1, data2):
    print(i['payload'].keys())

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])
dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])
dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [266]:
def get_any(resource):
    base_url = 'https://python.zach.lol'
    df = pd.DataFrame()
    url = 'https://python.zach.lol/api/v1/' + resource
    r = requests.get('https://python.zach.lol/api/v1/' + resource)
    data = r.json()
    
    if data['payload']['max_page'] == 1:
        df = pd.concat([df, pd.DataFrame(data['payload'][resource])])
    else:
        df = pd.concat([df, pd.DataFrame(data['payload'][resource])])
        r = requests.get(base_url + data['payload']['next_page'])
        data = r.json()

        while data['payload']['page'] <= data['payload']['max_page']:
            df = pd.concat([df, pd.DataFrame(data['payload'][resource])])
            if data['payload']['page'] == data['payload']['max_page']:
                break
            r = requests.get(base_url + data['payload']['next_page'])
            data = r.json()
    df.to_csv(resource + '.csv')
    return df.reset_index(drop=True)

get_any('stores')

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [263]:
def get_sales(csv):
    base_url = 'https://python.zach.lol'
    
    df = pd.DataFrame()
    url = 'https://python.zach.lol/api/v1/sales'
    r = requests.get('https://python.zach.lol/api/v1/sales')
    data = r.json()
    
    df = pd.concat([df, pd.DataFrame(data['payload']['sales'])])

    r = requests.get(base_url + data['payload']['next_page'])
    data = r.json()
    
    while data['payload']['page'] <= data['payload']['max_page']:
        
        df = pd.concat([df, pd.DataFrame(data['payload']['sales'])])
        
        if data['payload']['page'] == data['payload']['max_page']:
            break
            
        r = requests.get(base_url + data['payload']['next_page'])
        data = r.json()
    df.to_csv(csv)
    return df.reset_index(drop=True)

get_sales('sales.csv')

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
5          1         12.0  Sun, 06 Jan 2013 00:00:00 GMT        6      1
6          1         10.0  Mon, 07 Jan 2013 00:00:00 GMT        7      1
7          1          9.0  Tue, 08 Jan 2013 00:00:00 GMT        8      1
8          1         12.0  Wed, 09 Jan 2013 00:00:00 GMT        9      1
9          1          9.0  Thu, 10 Jan 2013 00:00:00 GMT       10      1
10         1          9.0  Fri, 11 Jan 2013 00:00:00 GMT       11      1
11         1          7.0  Sat, 12 Jan 2013 00:00:00 GMT       12      1
12         1         10.0  Sun, 13 Jan 2013 00:00:00 GMT       13      1
13         1         12.0  Mon, 14 Jan 2013 00:00:00 GMT       14      1
14         1          5.0  Tue, 15 Jan 2013 00:00:00 GMT       15      1
15         1          7.0  Wed, 16 Jan 2013 00:00:00 GMT       16      1
16         1         16.0  Thu, 17 Jan 2013 00:00:00 GMT       17      1
17         1          7.0  Fri, 18 Jan 2013 00:00:00 GMT       18      1
18         1         18.0  Sat, 19 Jan 2013 00:00:00 GMT       19      1
19         1         15.0  Sun, 20 Jan 2013 00:00:00 GMT       20      1
20         1          8.0  Mon, 21 Jan 2013 00:00:00 GMT       21      1
21         1          7.0  Tue, 22 Jan 2013 00:00:00 GMT       22      1
22         1          9.0  Wed, 23 Jan 2013 00:00:00 GMT       23      1
23         1          8.0  Thu, 24 Jan 2013 00:00:00 GMT       24      1
24         1         14.0  Fri, 25 Jan 2013 00:00:00 GMT       25      1
25         1         12.0  Sat, 26 Jan 2013 00:00:00 GMT       26      1
26         1         12.0  Sun, 27 Jan 2013 00:00:00 GMT       27      1
27         1         11.0  Mon, 28 Jan 2013 00:00:00 GMT       28      1
28         1          6.0  Tue, 29 Jan 2013 00:00:00 GMT       29      1
29         1          9.0  Wed, 30 Jan 2013 00:00:00 GMT       30      1
...      ...          ...                            ...      ...    ...
912970    50         49.0  Sat, 02 Dec 2017 00:00:00 GMT   912971     10
912971    50         75.0  Sun, 03 Dec 2017 00:00:00 GMT   912972     10
912972    50         54.0  Mon, 04 Dec 2017 00:00:00 GMT   912973     10
912973    50         68.0  Tue, 05 Dec 2017 00:00:00 GMT   912974     10
912974    50         60.0  Wed, 06 Dec 2017 00:00:00 GMT   912975     10
912975    50         66.0  Thu, 07 Dec 2017 00:00:00 GMT   912976     10
912976    50         67.0  Fri, 08 Dec 2017 00:00:00 GMT   912977     10
912977    50         69.0  Sat, 09 Dec 2017 00:00:00 GMT   912978     10
912978    50         69.0  Sun, 10 Dec 2017 00:00:00 GMT   912979     10
912979    50         54.0  Mon, 11 Dec 2017 00:00:00 GMT   912980     10
912980    50         67.0  Tue, 12 Dec 2017 00:00:00 GMT   912981     10
912981    50         67.0  Wed, 13 Dec 2017 00:00:00 GMT   912982     10
912982    50         72.0  Thu, 14 Dec 2017 00:00:00 GMT   912983     10
912983    50         72.0  Fri, 15 Dec 2017 00:00:00 GMT   912984     10
912984    50         52.0  Sat, 16 Dec 2017 00:00:00 GMT   912985     10
912985    50         86.0  Sun, 17 Dec 2017 00:00:00 GMT   912986     10
912986    50         53.0  Mon, 18 Dec 2017 00:00:00 GMT   912987     10
912987    50         54.0  Tue, 19 Dec 2017 00:00:00 GMT   912988     10
912988    50         51.0  Wed, 20 Dec 2017 00:00:00 GMT   912989     10
912989    50         63.0  Thu, 21 Dec 2017 00:00:00 GMT   912990     10
912990    50         75.0  Fri, 22 Dec 2017 00:00:00 GMT   912991     10
912991    50         70.0  Sat, 23 Dec 2017 00:00:00 GMT   912992     10
912992    50         76.0  Sun, 24 Dec 2017 00:00:00 GMT   912993     10
912993    50         51.0  Mon, 25 Dec 2017 00:00:00 GMT   912994     10
912994    50         41.0  Tue, 26 Dec 2017 00:00:00 GMT   912995     10
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

In [262]:
def get_stores(csv):
    base_url = 'https://python.zach.lol'
    
    df = pd.DataFrame()
    url = 'https://python.zach.lol/api/v1/stores'
    r = requests.get('https://python.zach.lol/api/v1/stores')
    data = r.json()
    
    df = pd.concat([df, pd.DataFrame(data['payload']['stores'])])
    df.to_csv(csv)
    return df.reset_index(drop=True)

get_stores('stores.csv')

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [261]:
def get_items(csv):
    base_url = 'https://python.zach.lol'
    
    df = pd.DataFrame()
    url = 'https://python.zach.lol/api/v1/items'
    r = requests.get('https://python.zach.lol/api/v1/items')
    data = r.json()
    
    df = pd.concat([df, pd.DataFrame(data['payload']['items'])])

    r = requests.get(base_url + data['payload']['next_page'])
    data = r.json()
    
    while data['payload']['page'] <= data['payload']['max_page']:
        
        df = pd.concat([df, pd.DataFrame(data['payload']['items'])])
        
        if data['payload']['page'] == data['payload']['max_page']:
            break
            
        r = requests.get(base_url + data['payload']['next_page'])
        data = r.json()
    df.to_csv(csv)
    return df.reset_index(drop=True)

get_items('items.csv')

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000
20,Doctors Best,21,Doctors Best Best Curcumin C3 Complex 1000mg T...,8.09,753950001954,753950001954
21,Betty Crocker,22,Betty Crocker Twin Pack Real Potatoes Scallope...,7.31,16000288829,16000288829
22,Reese,23,Reese Mandarin Oranges Segments In Light Syrup,1.78,70670009658,70670009658
23,Smart Living,24,Smart Living Charcoal Lighter Fluid,5.34,688267084225,688267084225
24,Hood,25,Hood Latte Iced Coffee Drink Vanilla Latte,2.43,44100117428,44100117428
25,Triaminic,26,Triaminic Syrup Night Time Cold & Cough Grape 4oz,0.98,300436344045,300436344045
26,Morton,27,Morton Kosher Salt Coarse,6.01,24600017008,24600017008
27,Usda Produce,28,Guava,7.52,719175900007,719175900007
28,Heinz,29,Heinz Tomato Ketchup - 2 Ct,8.65,13000001038,13000001038
29,Petmate,30,Petmate Booda Bones Steak Bacon & Chicken Flav...,8.39,723503568678,723503568678
30,Zhenas Gypsy Tea,31,Zhenas Gypsy Tea Herbal Red Tea Sachets Fire L...,4.21,652790100226,652790100226
31,Barefoot,32,Barefoot Pinot Grigio 187,0.68,8500004528,8500004528
32,The First Years,33,Tomy The First Years Gumdrop Orthodontic Pacif...,6.52,71463060078,71463060078
33,Halls,34,Halls Menthol Cough Suppresant/oral Anesthetic...,4.17,312546628694,312546628694
34,Natures Way,35,Natures Way Forskohlii - 60 Ct,5.19,33674100066,33674100066
35,Deerfields Gluten Free,36,Rice Bran Gluten Free Dinner Rolls Plain,7.95,610358991525,610358991525
36,Nakano,37,Nakano Seasoned Rice Vinegar Original,9.59,73575295003,73575295003
37,Sundown Naturals,38,Sundown Naturals Essential Electrolytes Tropic...,3.45,30768540548,30768540548
38,Munchies,39,Munchies Sandwich Crackers Cheddar Cheese On G...,9.02,28400029254,28400029254
39,Amys,40,Amys Light & Lean Spaghetti Italiano,0.60,42272008063,42272008063
40,P.f. Changs,41,P.f. Changs Home Menu Meal For Two Beef With B...,5.62,31000670016,31000670016
41,Moms Best Naturals,42,Moms Best Naturals Cereal Toasted Cinnamon Squ...,2.97,883978129115,883978129115
42,Ferrara,43,Ferrara Vanilla Syrup,8.40,71403000379,71403000379
43,Elmers,44,Elmers Board Mate Dual Tip Glue Pen,7.06,26000001403,26000001403
44,Kelloggs,45,Kelloggs Disney Pixar Cars 2 Cereal,4.40,38000542237,38000542237
45,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664
46,Bear Naked,47,Bear Naked Fit Almond Crisp 100 Percent Natura...,7.38,884623708976,884623708976
47,Dove,48,Dove Men + Care Antiperspirant Deodorant Cool ...,3.72,79400271631,79400271631
48,Easy-off,49,Easy-off Oven Cleaner Lemon Scent,9.54,62338879772,62338879772
49,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

In [295]:
def merge_dfs(df1, df2, how, left, right):
    return pd.merge(df1, df2, how=how, left_on=left, right_on=right)

In [296]:
items = pd.read_csv('~/python/Methodologies/time_series/items.csv', index_col=0)
stores = pd.read_csv('~/python/Methodologies/time_series/stores.csv', index_col=0)
sales = pd.read_csv('~/python/Methodologies/time_series/sales.csv', index_col=0)

In [297]:
sales.shape

(913000, 5)

In [298]:
df = merge_dfs(items, sales, 'left', 'item_id', 'item')
df.shape

(913000, 11)

In [299]:
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,item,sale_amount,sale_date,sale_id,store
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1
2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1
3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1
4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1

In [300]:
df = merge_dfs(df, stores, 'left', 'store', 'store_id')
df.shape

(913000, 16)

In [302]:
def clean_up_columns():
    return df.drop(columns=(['store', 'item']))

In [303]:
df = clean_up_columns()

In [304]:
df.shape

(913000, 14)