In [2]:
from acquire import *
import pandas as pd
from prepare import *

In [3]:
df = pd.read_csv('items.csv')

In [4]:
df2 = pd.read_csv('sales.csv')

In [5]:
df3 = pd.read_csv('stores.csv')

In [28]:
get_sales('sales.csv')
get_items('items.csv')
get_stores('stores.csv')

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [6]:
df = merge_dfs(df, df2, 'left', 'item_id', 'item')
df.shape

(913000, 11)

In [7]:
df = merge_dfs(df, df3, 'left', 'store', 'store_id')
df.shape

(913000, 16)

In [8]:
df = clean_up_columns(df)

In [9]:
df.shape

(913000, 14)

In [10]:
df['sales_total'] = df.sale_amount * df.item_price

In [17]:
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode,sales_total
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,2013-01-01,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,10.92
1,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,11.0,2013-01-02,2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,9.24
2,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,14.0,2013-01-03,3,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,11.76
3,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,2013-01-04,4,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,10.92
4,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,10.0,2013-01-05,5,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,8.40

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 913000 entries, 0 to 912999
Data columns (total 15 columns):
item_brand       913000 non-null object
item_id          913000 non-null int64
item_name        913000 non-null object
item_price       913000 non-null float64
item_upc12       913000 non-null int64
item_upc14       913000 non-null int64
sale_amount      913000 non-null float64
sale_date        913000 non-null datetime64[ns]
sale_id          913000 non-null int64
store_address    913000 non-null object
store_city       913000 non-null object
store_id         913000 non-null int64
store_state      913000 non-null object
store_zipcode    913000 non-null int64
sales_total      913000 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(5)
memory usage: 111.5+ MB

In [15]:
df['sale_date'] = convert_to_datetime(df.sale_date)

Converting 0         Tue, 01 Jan 2013 00:00:00 GMT
1         Wed, 02 Jan 2013 00:00:00 GMT
2         Thu, 03 Jan 2013 00:00:00 GMT
3         Fri, 04 Jan 2013 00:00:00 GMT
4         Sat, 05 Jan 2013 00:00:00 GMT
5         Sun, 06 Jan 2013 00:00:00 GMT
6         Mon, 07 Jan 2013 00:00:00 GMT
7         Tue, 08 Jan 2013 00:00:00 GMT
8         Wed, 09 Jan 2013 00:00:00 GMT
9         Thu, 10 Jan 2013 00:00:00 GMT
10        Fri, 11 Jan 2013 00:00:00 GMT
11        Sat, 12 Jan 2013 00:00:00 GMT
12        Sun, 13 Jan 2013 00:00:00 GMT
13        Mon, 14 Jan 2013 00:00:00 GMT
14        Tue, 15 Jan 2013 00:00:00 GMT
15        Wed, 16 Jan 2013 00:00:00 GMT
16        Thu, 17 Jan 2013 00:00:00 GMT
17        Fri, 18 Jan 2013 00:00:00 GMT
18        Sat, 19 Jan 2013 00:00:00 GMT
19        Sun, 20 Jan 2013 00:00:00 GMT
20        Mon, 21 Jan 2013 00:00:00 GMT
21        Tue, 22 Jan 2013 00:00:00 GMT
22        Wed, 23 Jan 2013 00:00:00 GMT
23        Thu, 24 Jan 2013 00:00:00 GMT
24        Fri, 25 Jan 2013 00:00:00 GMT
25        Sat, 26 Jan 2013 00:00:00 GMT
26        Sun, 27 Jan 2013 00:00:00 GMT
27        Mon, 28 Jan 2013 00:00:00 GMT
28        Tue, 29 Jan 2013 00:00:00 GMT
29        Wed, 30 Jan 2013 00:00:00 GMT
                      ...
912970    Sat, 02 Dec 2017 00:00:00 GMT
912971    Sun, 03 Dec 2017 00:00:00 GMT
912972    Mon, 04 Dec 2017 00:00:00 GMT
912973    Tue, 05 Dec 2017 00:00:00 GMT
912974    Wed, 06 Dec 2017 00:00:00 GMT
912975    Thu, 07 Dec 2017 00:00:00 GMT
912976    Fri, 08 Dec 2017 00:00:00 GMT
912977    Sat, 09 Dec 2017 00:00:00 GMT
912978    Sun, 10 Dec 2017 00:00:00 GMT
912979    Mon, 11 Dec 2017 00:00:00 GMT
912980    Tue, 12 Dec 2017 00:00:00 GMT
912981    Wed, 13 Dec 2017 00:00:00 GMT
912982    Thu, 14 Dec 2017 00:00:00 GMT
912983    Fri, 15 Dec 2017 00:00:00 GMT
912984    Sat, 16 Dec 2017 00:00:00 GMT
912985    Sun, 17 Dec 2017 00:00:00 GMT
912986    Mon, 18 Dec 2017 00:00:00 GMT
912987    Tue, 19 Dec 2017 00:00:00 GMT
912988    Wed, 20 Dec 2017 00:00:00 GMT
912989    Thu, 21 Dec 2017 00:00:00 GMT
912990    Fri, 22 Dec 2017 00:00:00 GMT
912991    Sat, 23 Dec 2017 00:00:00 GMT
912992    Sun, 24 Dec 2017 00:00:00 GMT
912993    Mon, 25 Dec 2017 00:00:00 GMT
912994    Tue, 26 Dec 2017 00:00:00 GMT
912995    Wed, 27 Dec 2017 00:00:00 GMT
912996    Thu, 28 Dec 2017 00:00:00 GMT
912997    Fri, 29 Dec 2017 00:00:00 GMT
912998    Sat, 30 Dec 2017 00:00:00 GMT
912999    Sun, 31 Dec 2017 00:00:00 GMT
Name: sale_date, Length: 913000, dtype: object from <class 'pandas.core.series.Series'> to datetime

In [1]:
!jt -r

Reset css and font defaults in:
/Users/orion/.jupyter/custom &
/Users/orion/Library/Jupyter/nbextensions